.mensaje-eliminar{
    font-weight: bold;
    font-size: 18px;
}

/* Colocar Scrollbar en los modales cuando 
    sobrepase el limite del modal-body Important part */
.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

/* ----------------------------------------------------*/

