@charset "utf-8";
/* CSS Document  */

#boton-desplegable-movil{
    margin-right: 10px;
}
/* logo de notiSchool en la cabecera*/
.app-header.navbar .navbar-brand {
    display: inline-block;
    width: 155px;
    height: 55px;
    padding: 0.5rem 1rem;
    margin-right: 0;
    background-color: #fff;
    background-image: url("../img/logo-NotiSchool-escritorio.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70px auto;
    border-bottom: 1px solid #c2cfd6; 
}

/*  
################################# Menu desplegable NOTIFICACIONES ####################################
*/

/*  
################################# Menu desplegable USUARIO ####################################
*/
.nav-menu-usuario{
    padding-right: 8px;
}

.nav-item-menu-usuario{
    /* list-style: none; */
    padding: 0;
}

.nav-item-menu-usuario > .item-menu-usuario{
    display: flex;
}

.nav-item-menu-usuario > .item-menu-usuario:hover{
    background: rgb(234, 250, 241, 0.7);
}

/* .nav-item-menu-usuario > a:hover{
    background: rgb(234, 250, 241, 0.7);
} */

.nav-item-menu-usuario > .item-menu-usuario > div{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 158px;
}

.nav-item-menu-usuario > .item-menu-usuario > div > i{
    margin-left: 15px;
}
/* a los 991px cambiar la posision del nav desplegable */
